<div id="login-modal" class="modal" _="on closeModal remove me">
    <div class="modal-underlay" _="on click trigger closeModal"></div>
    <div class="modal-content">
        <h1>Login</h1>
        <form id="login-form" hx-post="/login" hx-trigger="submit" hx-target="#login-msg" hx-swap="innerHTML">
            <label for="username">Username</label>
            <br>
            <input type="text" name="username" required>
            <br><br>
            <label for="passwd">Password</label>
            <br>
            <input type="password" name="passwd" required>
            <br><br>
            <button class="button" type="submit">login</button>
            <button class="button--secondary" _="on click trigger closeModal">cancel</button>
        </form>
        <div id="login-msg"></div>
    </div>
</div>
